<%= form_for(@reward_takeup) do |f| %>
  <% if @reward_takeup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reward_takeup.errors.count, "error") %> prohibited this reward_takeup from being saved:</h2>

      <ul>
      <% @reward_takeup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reward_id %><br>
    <%= f.text_field :reward_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
